:root {
    --myColorBackground: #707070;
    --myColor: #888888;
}

html,
body {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    /*width: 1500px;
    height: 2444px;*/
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1250px;
}

.wrapper {
    opacity: 1;
    color: var(--myColor);
    margin: -30px 100px;
}

.wrapper-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapperEmail {
    opacity: 1;
    color: var(--myColor);
    text-align: center;
}

.textoEmail {
    text-align: justify;
    margin: -40px 50px 0 50px;
}

header {
    margin: 0px;
    width: 0;
    height: 300px;
    border-right: 1280px solid var(--myColorBackground);
    border-left: 0px solid transparent;
    border-bottom: 150px solid transparent;
    color: #ffffff;
    line-height: 2;
}

.header-content {
    margin: 0px;
    margin-left: 8em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
}

.header-content div {
    margin-top: 0.2em;
}

.header-content-1 {
    text-align: center;
    margin: -0.1em;
}

.itemMenuHeader {
    list-style-type: none;
    display: inline;
    border: white 1px solid;
    padding: 12px 31px 12px 31px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 4px;
}

.titulosDasSecoes {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;

}

.formButton {
    width: 340px;
    height: 39px;
    color: var(--myColor);
    display: block;
    margin: 20px 0;
}

.formButton2 {
    width: 340px;
    height: 39px;
    color: var(--myColor);
    display: block;
    margin: 30px 200px;
}

.titulosDasSecoes h3 {
    margin: 0 auto 0 auto;
}

#botaoDoform {
    width: 340px;
    height: 39px;
    color: var(--myColor);
}

.barra-lateral {
    width: 300px;
    height: 1.5px;
    margin: 10px;
    background-color: var(--myColor);
}

.amigo {
    display: flex;
}

.amigo input {
    width: 340px;
    height: 39px;
    color: var(--myColor);
    margin: 1em;
}

a {
    text-decoration: none;
    color: var(--myColor);

}

.leftSection {
    float: left;
    width: 40%;
    color: #707070;
    margin-left: 30px;
    margin-right: 100px;

}

.rightSection {
    float: right;
    width: 40%;

}

.inputsDoForm {
    width: 340px;
    height: 30px;
}


.botao {
    color: var(--myColor);
    text-align: center;
    border-radius: 4px;
    width: 260px;
    height: 39px;
    border: 1px solid var(--myColorBackground);
    margin-top: 4em;
}

.botaoComprar {
    width: 200px;
    height: 30px;
    color: var(--myColor);
}

.escolhendoGenero {
    margin: 15px 0 15px 0;
}

.listaDeProdutos li {
    display: inline-block;
    text-align: left;
    width: 20%;
    margin: 0 1.5%;
}

.listaDeProdutos img {
    border: var(--myColor) 1px solid;
    margin-top: 8px;
    width: 200;
    height: 150px;
}

footer {
    text-align: center;
    opacity: 1;
    margin: 0px;
    width: 0;
    height: 300px;
    border-right: 1280px solid var(--myColorBackground);
    border-left: 0px solid transparent;
    border-top: 60px solid transparent;
    color: #ffffff;
    line-height: 2;
}

.friendsInput {
    margin-right: 60px;
    margin-bottom: 25px;

}

.divDaListaDosProdutos{
    margin-left: 70px;
}



.amigo input {
    width: 340px;
    height: 40px;
    color: var(--myColor);
    margin: 0 auto;
}

#botaoVemVer {
    width: 383px;
    height: 39px;
    color: var(--myColor);
    border: 1px solid var(--myColorBackground);
    border-radius: 4px;
}

.footer-content {
    margin: 0px;
    margin-left: 8em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
}

.footer-content-1 {
    text-align: center;
    margin: -0.1em;
}